name: Check that new or edited org-id JSON files are valid
on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11
        architecture: x64
    # "fetch-depth: 0" only sets up in the remote - if you want local branches you have to run ... https://github.com/actions/checkout/issues/1017
    - name: Set up the local Git repository with the commits we need, Part 1
      run: git fetch origin main:main
    - name: Set up the local Git repository with the commits we need, Part 2
      run: git fetch origin ${GITHUB_HEAD_REF}:${GITHUB_HEAD_REF}
    - name: Install DataTig
      run: pip install datatig
    - name: Check that new or edited org-id JSON files are valid
      run: python -m datatig versionedcheck --mode=all_in_changed_records . main ${GITHUB_HEAD_REF}

